#clock-wrapper
  width: 45%
  height: 100%
  position: relative
  float: left

#clock-face
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  width: 90%
  height: 80%

  border: 3px solid
  border-radius: 50%

  font-family: 'Roboto Mono', monospace
  font-size: 65px
  display: flex
  justify-content: center
  align-items: center

